.card {
  height: 22rem;
  width: 15rem;
  background-color: #071126;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0.5rem 1rem -0.25rem #071126;
  align-items: center;
}
.imageDiv {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  object-fit: contain;
  object-position: center;
}
.infoDiv h3 {
  height: 3.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
